.question {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.question {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.disco {
    width: 25rem;
    cursor: pointer;
    margin: 2rem;
}

.album {
    width: 30rem;
    margin: 2rem;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.5);
}

.cena {
    width: 60rem;
    margin: 3rem;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.5);
}

.gira-gira {
    animation: gira 3s linear;
}

@keyframes gira {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.choice-container {
    display: flex;
    margin-bottom: 2.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}
  
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
  
.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #0c1d29;
    color: white;
}
  
.choice-text {
    padding: 1.5rem;
    width: 100%;
}
  
.correct {
    background-color: #28a745;
}
  
.incorrect {
    background-color: #dc3545;
}